<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div id="app">
        <h1 id="app-heading">
            <i class="fa-regular fa-rectangle-list"></i> TODO App
        </h1>
        <hr>
        <form action="/action-page" method="post">
            <div id="form-first-row">
                <label for="task-input">DESCRIPTION</label>
                <input type="text" id="task-description" placeholder="What do you need to do?" required>    
            </div>
            <hr>
            <div id="form-sec-row">
                <div>
                    <label for="task-category">CATEGORY</label>
                    <select name="task-category" id="task-category" required>
                        <option value="personal">Personal</option>
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="task-dueDate">DUE DATE</label>
                    <input type="date" id="task-dueDate" required>
                </div>
            </div>
            <hr>
            <div id="button-section">
                <button type="submit" add-button"><i class="fa-solid fa-circle-plus"></i> Add Task</button>
            </div>
        </form>
        <hr>

        <ul id="task-display">
            <li>
                <input type="checkbox">
                <div>
                    <p>Why not add a task?</p>
                    <span><i class="fa-solid fa-calendar-days"></i> May 2, 2022</span>
                </div>
                <h4>Work</h4>
                <i class="fa-solid fa-trash-can"></i>
            </li>
        </ul>
    </div>
    
</body>
</html>